.register-container {
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    background-image: url('../assets/register.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .form-box {
    width: 300px; 
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    background: rgba(255, 255, 255, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    color: black;
    border: 1px solid #ccc;
  }
  
  .register-button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right , purple,rgb(255, 52, 228),yellow);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-button:hover {
    transform: scale(1.05);
    border: none;
    color: white;
  }
  
  .bottom-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .bottom-text a {
    color: #007bff;
    text-decoration: none;
  }
  
  .bottom-text a:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  